.oe_overlay .oe_handle.e:before,
.oe_overlay .oe_handle.w:before,
.oe_overlay .oe_handle.s:before,
.oe_overlay .oe_handle.n:before,
.oe_overlay .oe_handle.size .oe_handle_button {
  z-index: 40;
}

.oe_overlay .oe_handle.size {
  z-index: 50;
}

#wrapwrap [data-snippet-id="custom-snippet-cycle"] {
  min-height: 80px;
  height: 200px;
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row {
  height: 100%;
  width: auto;
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] {
  height: 100%;
  min-width: 195px;
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] .wbb-cycle {
  width: 100%;
  height: 100%;
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] .wbb-cycle > div {
  width: 100% !important;
  height: 100% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] .wbb-slideshow-left {
  width: 32px;
  height: 52px;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  left: 45px;
  z-index: 1000;
  cursor: pointer;
  background-image: url(img/left_arrow.png);
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] .wbb-slideshow-left:hover {
  background-image: url(img/left_arrow_hover.png);
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] .wbb-slideshow-right {
  width: 32px;
  height: 52px;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  right: 45px;
  z-index: 1000;
  cursor: pointer;
  background-image: url(img/right_arrow.png);
}
#wrapwrap [data-snippet-id="custom-snippet-cycle"] .row [data-snippet-id="colmd"] .wbb-slideshow-right:hover {
  background-image: url(img/right_arrow_hover.png);
}
